
#container {
    position: relative;
}

.seqed {
    position: relative;
    width: 500px;
    height: 600px;
    font-family: monospace;
    border: 1px solid black;
    white-space: nowrap;
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/*
.seqed .scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30px;    
}
*/

.seqed .text {
    position: relative;
    width: 100%;

}

.seqed .text .word {
    position: relative;
    display: block;
    float: left;
    background-color: #9999EE;
    margin-left: 10px;
    margin-bottom: 5px;
}

.seqed .line_numbers {

}

